<!DOCTYPE html>
<html>
<head>
    <title>Home</title>

</head>
<body>
<div class="wrap">
    <div class="header">
        <p class="header__info"><i class="fa fa-home"></i> Homexx</p>
        <img class="header__img" src="../src/imgs/kl/scrat.png" width="200" height="200">
        <p>
            <input type="text" class="magicsearch-input">
            <input type="text" class="date-input">
            <input type="text" class="bg-input">
        </p>
    </div>
    <div id="box">xx</div>
</div>

<script type="text/javascript" src="http://localhost:8188/dist/js/common.js"></script>
<script type="text/javascript" src="http://localhost:8188/dist/js/home.js"></script>

</body>
</html>
